<!DOCTYPE html>
<html>
<head>
 <style>
     .totalCare {
         background-color: rgba(0, 0, 0, 0.8);
         border-radius: 50px;
         box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.8);
     }
     .giustif {
         color: white;
         padding: 8px;
         text-align: justify;
         text-shadow: 0.5px 0.5px 1px greenyellow, 0 0 1em greenyellow, 0 0 0.2em greenyellow;
     }
     .heineKen {
         color: white;
         text-align: center;
         font-weight: bold;
         text-shadow: 1px 1px 2px greenyellow, 0 0 1em greenyellow, 0 0 0.2em greenyellow;
     }
    
   
 </style> 
</head>
<body>
    <div class="totalCare">
        <div class="desk">
            <h4 class="heineKen">HEINEKEN EXPERIENCE</h4>
            <p class="giustif">
                Il percorso espositivo è allestito nello stabilimento della prima distilleria della marca, creata nel 1867.
                Nelle sue installazioni, conoscerete tutto sul processo di fabbricazione della birra e lo sviluppo della marca creata dalla famiglia Heineken.
                Anche se l'edificio è stato rimodellato, per trasformarsi in un museo, ogni sala dell'antica fabbrica di birra conserva il suo aspetto originario, con le enormi e atiche caldaie, elementi strutturali del processo d'elaborazione della birra.
                Percorrendo le installazioni dell'antica distilleria, si possono toccare gli ingredienti con cui si produceva la birra e constatare il lungo cammino che seguono le bottiglie della birra, prima di arrivare nelle mani dei consumatori, mediante un interessante percorso in 4D.
                Dopo aver scoperto tutti i segreti della fabbricazione di una delle principali marche di birra del mondo, arriva la meritata ricompensa, con la degustazione delle birre Heineken, inclusa nel biglietto.
            </p>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.ecsite.eu/sites/default/files/northernlight_bottleline_3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.vimeocdn.com/video/711554617-a11e9e49a4c42e2ca2972e27a3a528f3d2849afb188ae45901518d3bccf24ecc-d?f=webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://heigishnkexpepazwesta1.blob.core.windows.net/media/images/Banner_BDB_.2e16d0ba.fill-1920x1080.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://a.travel-assets.com/findyours-php/viewfinder/images/res70/504000/504315-heineken-experience.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://mywowo.net/media/images/cache/amsterdam_heineken_experience_01_presentazione_jpg_1200_630_cover_85.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>
