
<!DOCTYPE html>
<html>
<head>
    <style>
        .totalCare {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50px;
            box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.8);
        }

        .giustif {
            color: white;
            padding: 8px;
            text-align: justify;
            text-shadow: 0.5px 0.5px 1px grey, 0 0 1em grey, 0 0 0.2em grey;
        }
        .swingEdge {
            color: white;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
        }
    </style>
</head>
<body>
    <div class="totalCare">
        <div class="desk">
            <h4 class="swingEdge">SWING OVER THE EDGE</h4>
            <p class="giustif">
                Se vi state chiedendo cosa fare ad Amsterdam durante il vostro prossimo weekend
                nella capitale olandese abbiamo in serbo per voi un'esperienza unica, emozionante e adrenalinica:
                dondolarsi a 100 metri di altezza ammirando la città dall’alto. 
                Stiamo parlando di Over the Edge, l’altalena più alta d’Europa , 
                recentemente aperta al pubblico nel centro della capitale olandese sul tetto della nuova A’dam Tower, 
                assolutamente tra le cose da vedere ad Amsterdam , l’ex sede della Shell che si è oggi 
                riconvertita in uno spazio multi mediale per la gioia dei locals e dei turisti di tutto il mondo.

            </p>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.adamlookout.com/wp-content/uploads/overtheedge-2-900x450.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.amsterdamredlightdistricttour.com/wp-content/uploads/2016/08/Amsterdam-Tower-Adam-Swing-small.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://blog.iway.io/pictures/Top-photo-spots-in-Amsterdam-over-the-edge-1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.cibsejournal.com/wp-content/uploads/2019/04/Adam-Lift-view.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.amsterdam.net/it/wp-content/uploads/sites/20/adam-lookout-sotto.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>
