<!DOCTYPE html>
<html>
<head>
    <style>
        .totalCare {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50px;
            box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.8);
        }

        .giustif {
            color: white;
            padding: 8px;
            text-align: justify;
            text-shadow: 0.5px 0.5px 1px darkgrey, 0 0 1em darkgrey, 0 0 0.2em darkgrey;
        }
        .annaFrank {
            color: white;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px darkgrey, 0 0 1em darkgrey, 0 0 0.2em darkgrey;
        }
    </style>
</head>
<body>
    <div class="totalCare">
        <div class="desk">
            <h4 class="annaFrank">ANNE FRANK HUIS</h4>
            <p class="giustif">
                La Casa di Anna Frank (Anne Frank Huis) è una casa-museo di Amsterdam,
                allestito a partire dal 1960 ai nr. 263-265 di Prinsengracht,
                ovvero in quella che fu in parte l'abitazione dove rimasero nascosti per due anni
                (dal 1942 al 1944) la giovane ebrea tedesca Anna Frank e la sua famiglia, assieme ai Van Pels,
                durante l'occupazione nazista nei Paesi Bassi. L'abitazione è soprannominata "l'alloggio segreto"
                (Achterhuis, letteralmente "retrocasa" dall'olandese). Nel museo vengono mostrate le stanze:
                nella stanza appartenuta ad Anna Frank, si trovano appese le foto di attrici famose collezionate dalla ragazza.
                Il museo è arrivato ad accogliere circa 1.300.000 visitatori nel 2019.


            </p>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.amsterdamtours.it/wp-content/uploads/2016/06/Casa-di-Anna-Frank-Amsterdam-1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://media.famigliacristiana.it/2017/10/casa_anna_frank_soffitta_2274665_2275306.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.unponteperannefrank.org/uploads/3/1/3/7/31377955/annes-kamer-10e2d76b6a2a05815f60dbc40bdba1cde_orig.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn-imgix.headout.com/media/images/5be516ad943c54ae2239eb43fdaa719c-ronni-kurtz-Q7QbbMzWaJY-unsplash.jpg?auto=format&w=713.0666666666667&h=458.4&q=90&fit=crop&ar=14%3A9" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.amsterdam360.it/wp-content/uploads/2021/07/Casa-Di-Anna-Frank-Amsterdam.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>
