
<!DOCTYPE html>
<html>
<head>
    <style>
        .totalCare {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50px;
            box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.8);
        }

        .giustif {
            color: white;
            padding: 8px;
            text-align: justify;
            text-shadow: 0.5px 0.5px 1px orange, 0 0 1em orange, 0 0 0.2em orange;
        }
        .cruyff {
            color: white;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px orange, 0 0 1em orange, 0 0 0.2em orange;
        }

    </style>
</head>
<body>
    <div class="totalCare">
        <div class="desk">
            <h4 class="cruyff">JOHAN CRUIJFF ARENA</h4>
            <p class="giustif">
                La Johan Cruijff Arena, anche detta Amsterdam Arena, è uno stadio di calcio di Amsterdam 
                che ospita le partite casalinghe della nazionale olandese di calcio e dell'Ajax, 
                squadra di calcio della capitale dei Paesi Bassi. Ha ospitato le gare della squadra 
                di football americano degli Amsterdam Admirals dal 1997 al 2007.

            </p>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://dvy7d3tlxdpkf.cloudfront.net/jca/_909x569_crop_center-center_80_none/stadionbuiten.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.musement.com/cover/0151/24/thumb-14150408-default-header-jpeg_header-15023579.jpeg?w=1200&h=630&q=95&fit=crop" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn.lifegate.it/3VAESeJYVa7OsN2tc-dP_VKxhDw=/768x/smart/https://www.lifegate.it/app/uploads/Stadio-Johan-Cruijff-ArenA-.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.helloamsterdam.nl/app/uploads/2020/09/AJAX-ARENA.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i0.wp.com/tulipfestivalamsterdam.com/wp-content/uploads/2019/04/bigstock-185740756-1.jpg?resize=800%2C534&ssl=1" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>

