<!DOCTYPE html>
<html>
<head>
    <style>
        .totalCare {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50px;
            box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.8);
            
        }

        .giustif {
            color: white;
            padding: 8px;
            text-align: justify;
            text-shadow: 0.5px 0.5px 1px darkred, 0 0 1em darkred, 0 0 0.2em darkred;
        }
        .madameT {
            color: white;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px darkred, 0 0 1em darkred, 0 0 0.2em darkred;
        }
    </style>
</head>
<body>
    <div class="totalCare">
        <div class="desk">
            <h4 class="madameT">MADAME TUSSAUDS</h4>
            <p class="giustif">
                Madame Tussauds Amsterdam è un museo delle cere che si trova ad Amsterdam, in Piazza Dam, 
                vicino al Palazzo Reale. Fondato nel 1970 è stato il primo Madame Tussauds 
                ad essere aperto nell'Europa continentale, oltre ad essere la prima 
                filiale estera dell'istituzione britannica. La collezione di Madame Tussauds Amsterdam è composta da 
                una collezione di figure in cera di celebrità famose della musica, dello sport, 
                del cinema ma anche del secolo d'oro olandese.
            </p>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.passport2amsterdam.com/wp-content/uploads/2022/05/madame-tussauds-amsterdam-03-min.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://fichier0.cirkwi.com/image/photo/poi/800x500/491479/en/0.jpg?1684276929" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.imageinsight.com/wp-content/uploads/2022/03/Amsterdam-Tulip-Background-1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.stromma.com/globalassets/netherlands/amsterdam/product_slideshows/sights/attractions/madame-tussauds-amsterdam/01_madame_tussauds_amsterdam.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://madame-tussauds-tickets.com/wp-content/uploads/Bob-Marley-in-Madame-Tussauds-Amsterdam-1024x576.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>
