<!DOCTYPE html>
<html>
<head>
    
    <style>
        .superMap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 10px 10px 5px 10px rgb(0, 0, 0, 0.8);
            background: rgb(199,0,0);
            background: linear-gradient(90deg, rgba(199,0,0,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 63%, rgba(33,39,148,1) 100%, rgba(255,255,255,1) 100%);
            border-radius: 20px;
        }
        #mapponas{
            max-width: 100%;
            max-height: auto;
        }
        .accaUno {
            color: orangered;
            text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
        }
    </style>
</head>
<body>
    
    <div class="superMap">
        <h1 class="accaUno">MAPPA TURISTICA</h1>
    <div>
            <img src="~/Content/img/MAPPATOUR.jpg" id="mapponas" />
        </div>
      

    </div>



</body>
</html>