
<!DOCTYPE html>
<html>
<head>
    <style>
        .totalCare {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50px;
            box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.8);
        }

        .giustif {
            color: white;
            padding: 8px;
            text-align: justify;
            text-shadow: 0.5px 0.5px 1px yellow, 0 0 1em yellow, 0 0 0.2em yellow;
        }

        .rijKS {
            color: white;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px yellow, 0 0 1em yellow, 0 0 0.2em yellow;
        }
    </style>
</head>
<body>
    <div class="totalCare">
        <div class="desk">
            <h4 class="rijKS">RIJKSMUSEUM</h4>
            <p class="giustif">
                Il Rijksmuseum Amsterdam, spesso chiamato semplicemente Rijksmuseum, 
                è un museo che si trova in Museumstraat, 1 ad Amsterdam nei Paesi Bassi. 
                Il museo possiede la più grande collezione di dipinti del Secolo d'oro olandese e 
                una considerevole collezione di arte asiatica.

            </p>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.artnews.com/wp-content/uploads/2023/02/GettyImages-1215971600-copy-1.jpg?w=1200" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.rijksmuseum.nl/assets/e963529a-fbdc-4a7e-8750-2047186be8e3?w=1200&h=630&fx=4724&fy=2266&c=2c670120331c3515d924a6807dd2d70d23057f71a9e7742c77db84363489544a" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.viviamsterdam.it/images/viviamsterdam/Rijkmuseum_gallery/Rijksmuseum_Interno.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.rijksmuseum.nl/assets/35d9bc04-dd96-4b84-8efa-423400ae88de?w=1200&h=630&fx=3041&fy=2714&c=61377ca5f31c4d5c198ab8b397011d13e4e8a2b634e09a44d73d17067da16c51" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.amsterdam.info/sitemedia/photos-800/amsetrdam-museum-rijksmuseum-building-800x450.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>

