<!DOCTYPE html>
<html>
<head>
    <style>
        .totalCare {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50px;
            box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.8);
        }

        .giustif {
            color: white;
            padding: 8px;
            text-align: justify;
            text-shadow: 0.5px 0.5px 1px yellow, 0 0 1em yellow, 0 0 0.2em yellow;
        }
        .vanG {
            color: white;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px yellow, 0 0 1em yellow, 0 0 0.2em yellow;
        }
    </style>
</head>
<body>
    <div class="totalCare">
        <div class="desk">
            <h4 class="vanG">VAN GOGH MUSEUM</h4>
            <p class="giustif">
                Il Museo Van Gogh di Amsterdam ospita circa 200 dipinti, 400 disegni e 700 lettere dell'artista olandese Vincent van Gogh. 
                Il museo ospita anche un'ampia collezione di opere contemporanee dell'artista e di opere che hanno influenzato il suo stile, 
                tra cui la sua collezione di stampe giapponesi.
            </p>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.amsterdam.net/it/wp-content/uploads/sites/20/museo-van-gogh-amsterdam-hd.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.amsterdam.info/sitemedia/photos-800/amsterdam-museum-van-gogh-interior.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://inno3.it/wp-content/uploads/2022/02/VanGoghMuseum.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i2.res.24o.it/images2010/Editrice/ILSOLE24ORE/DOMENICA/2019/06/29/Domenica/ImmaginiWeb/Ritagli/Vincent-van-Gogh-Arlesienne-Madame-Ginoux-1020.jpg?r=1080x566" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://unewsonline.com/wp-content/uploads/2020/04/unnamed-900x494.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>
