
<!DOCTYPE html>
<html>
<head>
    <style>
        .totalCare {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50px;
            box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.8);
        }

        .giustif {
            color: white;
            padding: 8px;
            text-align: justify;
            text-shadow: 0.5px 0.5px 1px blue, 0 0 1em blue, 0 0 0.2em blue;
        }
        .zaanDam {
            color: white;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em blue;
        }
    </style>
</head>
<body>
    <div class="totalCare">
        <div class="desk">
            <h4 class="zaanDam">ZAANDAM - ZAANSE SCHANS</h4>
            <p class="giustif">
                Zaanse Schans è una piccola comunità di 40 case situata a nord-est di Amsterdam, 
                sulla banchina del fiume Zaan. Si trova a Zaandam, nella municipalità di Zaanstad, 
                nell'Olanda Settentrionale. Nel XVIII secolo questa regione era un'area industriale con oltre 
                700 mulini a vento. Molti di questi storici mulini ed alcune case sono ancora in ottimo stato 
                e rappresentano una forte attrazione turistica, tant'è che in alcuni è prevista la possibilità di 
                visitarli nei loro interni. Nel 2007 è stato costruito un nuovo mulino sullo stampo di quelli storici
                che all'interno mostra un video delle operazioni di costruzione.Zaanse Schans è uno dei punti di 
                forza dell'European Route of Industrial Heritage (ERIH).

            </p>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/11/f9/d9/97.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.placesonline.com/photos/424011711170425_Zaanse_522424021.jpg?quality=80&w=696&h=403&mode=crop" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_630/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/gsxyk0e0t0llfv2us0qu/Tour%20di%20mezza%20giornata%20al%20villaggio%20dei%20mulini%20a%20vento%20di%20Zaanse%20Schans%20da%20Amsterdam.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://alzatieviaggia.com/wp-content/uploads/2019/06/zaanse-schans-alzati-e-viaggia.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://henriwillig.com/site-henriwillig/assets/files/1112/catharinahoeve.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>
